<h4>Delete</h4>

<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" />

</head>
<body style="background-color:black">
    <form>
        <fieldset>
         Please Register Students

            <p>Student Roll no: <input type="text" /></p>

            <p>Student Name: <input type="text" /></p>
            <p>Student Address: <input type="text" /></p>
            <p>Student Phone: <input type="text" /></p>



        </fieldset>


    </form>


</body>


</html>